<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Lost</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .text {
            font-size: 5em;
            margin-bottom: 20px;
        }
        img {
            width: 40%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="text">End Game</div>
    <div class="text">Loser!!</div>
    <img src="https://media2.giphy.com/media/ZDst1zdFKc5WTAr991/200.webp?cid=ecf05e47472ljnsi5rsehmhy9uocyjxq80f5z2d7qg8btzn8&ep=v1_gifs_search&rid=200.webp&ct=g" alt="Loser GIF">
    
</body>
</html>